$pico: 1px;
$nano: 2px;
$bit: 4px;
$byte: 8px;
$bytex: $byte + $bit;
$kilo: 14px;
$mega: 16px;
$giga: 20px;
$tera: 24px;
$peta: 32px;
$petax: $peta + $byte;
$exa: 48px;
$zetta: 56px;
$yotta: 64px;
$xenotta: 72px;

$fcCalendarMinWidth:800px;
