@import "@src/styles/spacings";
@import "@src/styles/media-mixins";

.container {
  display: flex;
  padding: $byte $bytex;
  flex-direction: column;
  align-items: flex-start;
  gap: $bit;
  border-radius: $byte;

  &.background {
    background: var(--warning-100, #fde5c9);
  }

  .switch {
    display: flex;
    align-items: center;
    gap: var(--primitives-1, $byte);

    span {
      opacity: 0.5;
    }
  }

  .switch-pro {
    display: flex;
    align-items: center;
    gap: var(--primitives-1, $byte);
  }

  .text-pro {
    color: var(--warning-500, #db7d0a);
    font-size: $bytex;
    font-style: normal;
    font-weight: 500;
    line-height: $mega;
    letter-spacing: 0.004px;
  }
}
